{% extends "base.html" %}

{% block main_content %}
<div class="center">

  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Drawings
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="{% url 'submitdrawings' %}">Drawings</a></li>
      <li><a href="{% url 'submitphotography' %}">Photography</a></li>
      <li><a href="{% url 'submitwritings' %}">Writings</a></li>
    </ul>
  </div>
  
  <div class="upload">
    <i class="fa fa-upload fa-5x"></i>
  </div>
  <div class="select_file">
    Select File to Upload
  </div>
  <div class="drag_drop">
    Or Drag and Drop
  </div>

  <br><br><br>

  so what do you want to submit!!?
  <br>
  <br>
  my drawings!
  <br>
  my photos! 
  <br>
  <a href="{% url 'submitwritings' %}">my writings!</a>

  
  <br><br><br>
  <a href="{% url 'home' %}">return to home page</a> <br>

</div>
{% endblock %}
